@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styling for the range input */
input[type="range"] {
  height: 0.5rem;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}